body {
  font-family: sans-serif;
}
.none {
  display: none;
}

h4 {
  font-size: 20px;
}

.container {
  margin-top: 20px;
}

.uploaded-header {
  line-height: 32px;
}
.uploaded-item {
  margin: 5px 0;
}
